.main{
background-color: red;
display: flex;
min-height: 100vh;
}
.menu{
flex-basis: 20%;
padding: 20px 15px;
background-color: white;
display: flex;
flex-direction: column;
border-right: 1px solid #cccccc;
}
.menu ul {
padding: 10px 10px 0 0;
margin: 0;
list-style-type: none;
}
.menu ul li{
padding: 0;
margin: 0;
}

.content{
background-color: white;
padding: 0px 0px;
flex-basis: 80%;
}

.logo{
vertical-align: middle;
display: flex;
align-items:center;
}
.logo img{
padding-right: 10px;
}
.bookmark{
padding:10px;
border-bottom: 1px solid #cccccc;
display:flex;
justify-content: space-between;
}

.pagination{
padding:10px;
border-bottom: 1px solid #cccccc;
display:flex;
justify-content: center;
}


.bookmarks-category{
padding:10px;
border-bottom: 1px solid #cccccc;
}
.bookmarks-add{
padding:10px;
border-bottom: 1px solid #cccccc;
}
.bookmark:hover{
background-color: #e3f1ff;
}
.bookmarks-title{
padding:10px;
border-bottom: 1px solid #cccccc;
}
.purpose-detail{
padding:10px;
border-bottom: 1px solid #cccccc;
}
.bookmarks-title h1{
margin: 0;
padding: 0;
}

.is_done{
text-decoration: line-through;
}

.bookmarks-title h3{
margin: 0;
padding: 0;
}

.bookmark p{
padding:0px;
margin: 0px;
}

body{
font-family: 'Maven Pro', sans-serif;
font-family: 'Roboto', sans-serif;
}

a{
text-decoration: none;
}
a:visited{
text-decoration: none;
color:blue;
}
a:hover{
color:grey;
}


tbody tr:nth-child(odd) {
  background-color: #FFFFFF;
}

tbody tr:nth-child(even) {
  background-color: #E0FFFF;
}


table {
  background-color: #FFFFFF;
  margin: auto;
  padding: 5px;
}